<style>
.judul {
	text-align: center;
	font-family:"Century Gothic";
	font-size: 40px;
}

.container{
	
	width: 50%;
	margin: auto;
}


.input{

	font-family: "Century Gothic";
	font-size: 17px;
	
	margin: auto;
	background-color: white;
	padding-right: 30px;
	padding-left: 30px;
	/*color: white;*/
}


button {
	background-color: black;
	color: white;
	padding: 10px;
	padding-right: 30px;
	padding-left: 30px;
		font-size: 15px;
}

button:hover{
	background-color:white;
	color: black;
}


input{
	height: 30px;
}

body{
	background: url('bglogin.jpg');
}

</style>

